body{
    margin: 0;
    padding: 0;
}

.cont{
    position: relative;
    width:100vw;
    height:100vh;
}
.cont video,
.cont .href{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:1;
    object-fit: fill;
}

.cont a {
    display: block;
    position: absolute;
    width:12vw;
    height:15vh;
    cursor: url('./imgs/at3qd-6v759-001.ico'),auto;
}
#alpha-1{
    top:12vh;
    left:9vw;
}
#alpha-2{
    top:12vh;
    right:9vw; 
}
#alpha-1:hover,#alpha-2:hover{
    background:url('./imgs/icon/alpha.png') bottom center no-repeat;
    background-size:contain;
}
#omega1-1{
    width: 20vw;
    height: 30vh;
    top:50vh;
    left:5vw;
}
#omega2-1{
    width: 20vw;
    height: 30vh;
    top:50vh;
    right:5vw;
}
#omega1-1:hover,#omega2-1:hover{
    background:url('./imgs/icon/omega.png') bottom center no-repeat;
    background-size:contain;
}
#Architecture{
    width: 20vw;
    height: 70vh;
    top:10vh;
    left:40vw;
}
#Architecture:hover{
    background:url('./imgs/icon/architecture.png') bottom center no-repeat;
    background-size:contain;
}
#heart{
    top:25vh;
    left: 42vw;
    z-index: 2;
}
#heart:hover{
    background:url('./imgs/icon/heart.png')bottom center no-repeat;
    background-size:contain;
}
#build-vr{
    top:22vh;
    right:25vw; 
    z-index: 2;
}
#build-vr:hover{
    background:url('./imgs/icon/a_vr.png')bottom center no-repeat;
    background-size:contain;
}
#scenery-vr{
    top:22vh;
    left:25vw; 
    z-index: 2; 
}
#scenery-vr:hover{
    background:url('./imgs/icon/land_vr.png')bottom center no-repeat;
    background-size:contain;
}
a.back{
    z-index: 2;
    width:7vw;
    top: 11vh;
    left:3vw;
    background: url('./imgs/back.png') no-repeat;
    background-size: contain;
}
a.play{
    z-index: 2;
    width:6vw;
    top: 11vh;
    right:3vw;
    background: url("./imgs/play.png")  no-repeat;
    background-size: contain;
}